.task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gray-800);
  border-radius: 8px;
  padding: 1rem;
}
.task .task-toggle-button {
  background: none;
  color: var(--purple-500);
  border: 2px solid var(--purple-500);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.task .task-toggle-button  svg {
  width: 1.2rem;
  height: 1.2rem;
}
.task .task-text {
  font-size: 1rem;
  color: var(--gray-100);
  font-weight: 200;
}
.task .TaskCompleted {
  font-size: 1rem;
  color: var(--gray-400);
  font-weight: 100;
  text-decoration: line-through;
}
.task .task-button-delete {
  background: none;
  color: var(--red-500);
  border: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.10rem;
}
.task .task-button-delete  svg {
  width: 1.5rem;
  height: 1.5rem;
}